body {
    color: #fff;
    background: #17181cd5;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.container {
    display: grid;
    grid-template-columns: 22% 75%;
    grid-column-gap: 3%;
}

.filters-section{
    padding-left: 12px;
}



.cards__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

li {
    list-style-type: none;
}
