@import "../abstracts/color-styles";

.book {
    text-align: center;
    width: 260px;
    border: 1px solid $color-primary;
    padding: 1em;
    margin-bottom: 2em;
    background-color: $color-primary-light;
    font-weight: 600;
    transition: all 1s;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
        transition: all 1s;
    }
}

.description,
.id {
    display: none;
}
